{{!-- DIRECTAMENTE DISEÑAR LA PAGINA DE INICIO --}}
{{!-- desde el endpoint me envian el objeto con la propiedad events --}}
{{!-- para loopear los eventos, utilizao la sintaxis de each de hbs --}}
<main class="flex-grow-1 p-3 m-auto my-2">
  <h1>HOME</h1>
  <h3>{{date}}</h3>
  {{#if details}}
    <p>{{details}}</p>
  {{else}}
    <p>Mi pagina Principal</p>
  {{/if}}
  {{#each events}}
  {{!-- cuerpo de lo que se quiere loopear --}}
  {{!-- this va a hacer de referencia de CADA UNO de los elementos a recorrer --}}
  <h3>{{this}}</h3>
  {{/each}}
</main>